*{
    box-sizing: border-box;
    margin: 0px;
}


/* Table Stlying */
/* table{
    display: table;
} */

.column-root{
    display: table-cell;
}

.row{
    display: block;
}

#multi-num-in-wrapper{
    width: max-content;
}

.in-multi-num{
    width: 100px;
}