*{
    box-sizing: border-box;
    margin: 0px;
}


input {
    outline: none;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

input:focus{
    background-color: rgba(0, 0, 0, 0.1);
}

.in-error{
    border: 1px solid red;
}

/* Table Stlying */
/* table{
    display: table;
} */

.column-root{
    display: table-cell;
}

.row{
    display: block;
}

#multi-num-in-wrapper{
    width: max-content;
}

.in-multi-num{
    width: 100px;
}