/* Tag Type*/

* {
    box-sizing: border-box;
    margin: 0px;

    --global-vert-margin: 5px 0px
}

main {
    margin: 0px 100px;
}

input {
    outline: none;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.1);
}


button {
    width: 100px;
    height: 30px;

    border: 1px solid transparent;
    border-radius: 5px;
}

button:hover {
    border: 1px solid black;
}

/*Display Class's */

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-error {
    border: 1px solid red;
}

/* Header */

#header-wrapper {
    padding: 5px 0px;
}

/* Inputs Panels */

#input-wrapper {
    margin: var(--global-vert-margin);
    align-items: center;
}

#controls-col {
    flex-wrap: wrap;
}

#controls-head {
    flex-basis: 100%;
}

.btn-sin {
    width: 25px;
}

/* Table*/

#table-wrapper {
    margin: var(--global-vert-margin);
    align-self: flex-start;
}

table {
    padding: 0px;

}

.column-root {
    --col-width: 125px;

    display: table-cell;
    width: var(--col-width);
    height: 30px;
    border-right: 1px solid black;
}

th {
    width: inherit;
    height: inherit;
    padding: 0px;
    background-color: aqua;
}

td:nth-child(odd) {
    background-color: aliceblue;
}

.row{
    display: block;
}

#multi-num-in-wrapper {
    width: max-content;
    margin: 0px 0px 0px 150px;
}

.in-multi-num {
    /* width: var(--col-width); */
}